In [1]:
import pandas as pd
import numpy as np

Загружаем датасет:

In [2]:
hd1 = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv')
hd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   2        299 non-null    object
 1   1        299 non-null    int64
 2   530101   299 non-null    int64
 3   38.50    299 non-null    object
 4   66       299 non-null    object
 5   28       299 non-null    object
 6   3        299 non-null    object
 7   3.1      299 non-null    object
 8   ?        299 non-null    object
 9   2.1      299 non-null    object
 10  5        299 non-null    object
 11  4        299 non-null    object
 12  4.1      299 non-null    object
 13  ?.1      299 non-null    object
 14  ?.2      299 non-null    object
 15  ?.3      299 non-null    object
 16  3.2      299 non-null    object
 17  5.1      299 non-null    object
 18  45.00    299 non-null    object
 19  8.40     299 non-null    object
 20  ?.4      299 non-null    object
 21  ?.5      299 non-null    object
 22  2.2      299 non-null    object
 23  2.3      299 non-null    int64
 24  11300    299 non-null    int64
 25  00000    299 non-null    int64
 26  00000.1  299 non-null    int64
 27  2.4      299 non-null    int64
dtypes: int64(7), object(21)
memory usage: 65.5+ KB

Очевидно, придется вручную ввести названия столбцов:

In [3]:
hd2 = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', 
                 names = ['surgery?', 
                          'Age',
                          'Hospital Number',
                          'rectal temperature',
                          'pulse',
                          'respiratory rate',
                          'temperature of extremities',
                          'peripheral pulse',
                          'mucous membranes',
                          'capillary refill time',
                          'pain',
                          'peristalsis',
                          'abdominal distension',
                          'nasogastric tube',
                          'nasogastric reflux',
                          'nasogastric reflux PH',
                          'rectal examination - feces',
                          'abdomen',
                          'packed cell volume',
                          'total protein',
                          'abdominocentesis appearance',
                          'abdomcentesis total protein',
                          'outcome',
                          'surgical lesion?',
                          'type of lesion 1',
                          'type of lesion 2',
                          'type of lesion 3',
                          'cp_data'], 
                 header=0)
hd2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     299 non-null    object
 1   Age                          299 non-null    int64
 2   Hospital Number              299 non-null    int64
 3   rectal temperature           299 non-null    object
 4   pulse                        299 non-null    object
 5   respiratory rate             299 non-null    object
 6   temperature of extremities   299 non-null    object
 7   peripheral pulse             299 non-null    object
 8   mucous membranes             299 non-null    object
 9   capillary refill time        299 non-null    object
 10  pain                         299 non-null    object
 11  peristalsis                  299 non-null    object
 12  abdominal distension         299 non-null    object
 13  nasogastric tube             299 non-null    object
 14  nasogastric reflux           299 non-null    object
 15  nasogastric reflux PH        299 non-null    object
 16  rectal examination - feces   299 non-null    object
 17  abdomen                      299 non-null    object
 18  packed cell volume           299 non-null    object
 19  total protein                299 non-null    object
 20  abdominocentesis appearance  299 non-null    object
 21  abdomcentesis total protein  299 non-null    object
 22  outcome                      299 non-null    object
 23  surgical lesion?             299 non-null    int64
 24  type of lesion 1             299 non-null    int64
 25  type of lesion 2             299 non-null    int64
 26  type of lesion 3             299 non-null    int64
 27  cp_data                      299 non-null    int64
dtypes: int64(7), object(21)
memory usage: 65.5+ KB

In [4]:
hd2.head(10)

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion 1,type of lesion 2,type of lesion 3,cp_data
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2
5,1,1,526802,37.90,48,16,1,1,1,1,...,37.00,7.00,?,?,1,1,3124,0,0,2
6,1,1,529607,?,60,?,3,?,?,1,...,44.00,8.30,?,?,2,1,2208,0,0,2
7,2,1,530051,?,80,36,3,4,3,1,...,38.00,6.20,?,?,3,1,3205,0,0,2
8,2,9,5299629,38.30,90,?,1,?,1,1,...,40.00,6.20,1,2.20,1,2,0,0,0,1
9,1,1,528548,38.10,66,12,3,3,5,1,...,44.00,6.00,2,3.60,1,1,2124,0,0,1

Нужно заменить "?" на NaN.
Можно было бы сделать так: hd2 = hd2.replace('?', np.NaN), 
но я решил сделать так:

In [5]:
hd3 = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', 
                 names = ['surgery?', 
                          'Age',
                          'Hospital Number',
                          'rectal temperature',
                          'pulse',
                          'respiratory rate',
                          'temperature of extremities',
                          'peripheral pulse',
                          'mucous membranes',
                          'capillary refill time',
                          'pain',
                          'peristalsis',
                          'abdominal distension',
                          'nasogastric tube',
                          'nasogastric reflux',
                          'nasogastric reflux PH',
                          'rectal examination - feces',
                          'abdomen',
                          'packed cell volume',
                          'total protein',
                          'abdominocentesis appearance',
                          'abdomcentesis total protein',
                          'outcome',
                          'surgical lesion?',
                          'type of lesion 1',
                          'type of lesion 2',
                          'type of lesion 3',
                          'cp_data'], 
                 header=0, na_values=["?"])
hd3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     298 non-null    float64
 1   Age                          299 non-null    int64
 2   Hospital Number              299 non-null    int64
 3   rectal temperature           239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory rate             241 non-null    float64
 6   temperature of extremities   243 non-null    float64
 7   peripheral pulse             230 non-null    float64
 8   mucous membranes             253 non-null    float64
 9   capillary refill time        267 non-null    float64
 10  pain                         244 non-null    float64
 11  peristalsis                  255 non-null    float64
 12  abdominal distension         243 non-null    float64
 13  nasogastric tube             196 non-null    float64
 14  nasogastric reflux           194 non-null    float64
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination - feces   197 non-null    float64
 17  abdomen                      181 non-null    float64
 18  packed cell volume           270 non-null    float64
 19  total protein                266 non-null    float64
 20  abdominocentesis appearance  135 non-null    float64
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      298 non-null    float64
 23  surgical lesion?             299 non-null    int64
 24  type of lesion 1             299 non-null    int64
 25  type of lesion 2             299 non-null    int64
 26  type of lesion 3             299 non-null    int64
 27  cp_data                      299 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.5 KB

In [6]:
hd3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     298 non-null    float64
 1   Age                          299 non-null    int64
 2   Hospital Number              299 non-null    int64
 3   rectal temperature           239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory rate             241 non-null    float64
 6   temperature of extremities   243 non-null    float64
 7   peripheral pulse             230 non-null    float64
 8   mucous membranes             253 non-null    float64
 9   capillary refill time        267 non-null    float64
 10  pain                         244 non-null    float64
 11  peristalsis                  255 non-null    float64
 12  abdominal distension         243 non-null    float64
 13  nasogastric tube             196 non-null    float64
 14  nasogastric reflux           194 non-null    float64
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination - feces   197 non-null    float64
 17  abdomen                      181 non-null    float64
 18  packed cell volume           270 non-null    float64
 19  total protein                266 non-null    float64
 20  abdominocentesis appearance  135 non-null    float64
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      298 non-null    float64
 23  surgical lesion?             299 non-null    int64
 24  type of lesion 1             299 non-null    int64
 25  type of lesion 2             299 non-null    int64
 26  type of lesion 3             299 non-null    int64
 27  cp_data                      299 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.5 KB

В соответствии с описанием 

- surgery?
- temperature of extremities
- peripheral pulse
- mucous membranes
- capillary refill time
- pain
- peristalsis
- abdominal distension
- nasogastric tube
- nasogastric reflux
- rectal examination - feces
- abdomen
- abdominocentesis appearance
- outcome

суть категориальные данные, соответственно, их нужно перевести из float в int:

In [7]:
hd3['surgery?'] = hd3['surgery?'].astype('Int64')
hd3['temperature of extremities'] = hd3['temperature of extremities'].astype('Int64')
hd3['peripheral pulse'] = hd3['peripheral pulse'].astype('Int64')
hd3['mucous membranes'] = hd3['mucous membranes'].astype('Int64')
hd3['capillary refill time'] = hd3['capillary refill time'].astype('Int64')
hd3['pain'] = hd3['pain'].astype('Int64')
hd3['peristalsis'] = hd3['peristalsis'].astype('Int64')
hd3['abdominal distension'] = hd3['abdominal distension'].astype('Int64')
hd3['nasogastric tube'] = hd3['nasogastric tube'].astype('Int64')
hd3['nasogastric reflux'] = hd3['nasogastric reflux'].astype('Int64')
hd3['rectal examination - feces'] = hd3['rectal examination - feces'].astype('Int64')
hd3['abdomen'] = hd3['abdomen'].astype('Int64')
hd3['abdominocentesis appearance'] = hd3['abdominocentesis appearance'].astype('Int64')
hd3['outcome'] = hd3['outcome'].astype('Int64')

In [8]:
hd3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     298 non-null    Int64
 1   Age                          299 non-null    int64
 2   Hospital Number              299 non-null    int64
 3   rectal temperature           239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory rate             241 non-null    float64
 6   temperature of extremities   243 non-null    Int64
 7   peripheral pulse             230 non-null    Int64
 8   mucous membranes             253 non-null    Int64
 9   capillary refill time        267 non-null    Int64
 10  pain                         244 non-null    Int64
 11  peristalsis                  255 non-null    Int64
 12  abdominal distension         243 non-null    Int64
 13  nasogastric tube             196 non-null    Int64
 14  nasogastric reflux           194 non-null    Int64
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination - feces   197 non-null    Int64
 17  abdomen                      181 non-null    Int64
 18  packed cell volume           270 non-null    float64
 19  total protein                266 non-null    float64
 20  abdominocentesis appearance  135 non-null    Int64
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      298 non-null    Int64
 23  surgical lesion?             299 non-null    int64
 24  type of lesion 1             299 non-null    int64
 25  type of lesion 2             299 non-null    int64
 26  type of lesion 3             299 non-null    int64
 27  cp_data                      299 non-null    int64
dtypes: Int64(14), float64(7), int64(7)
memory usage: 69.6 KB

В соответствии с описанием

- surgery?
- Age
- temperature of extremities
- peripheral pulse
- mucous membranes
- capillary refill time
- pain
- peristalsis
- abdominal distension
- nasogastric tube
- nasogastric reflux
- rectal examination - feces
- abdomen
- abdominocentesis appearance
- outcome

суть категориальные данные, посмотрим, принимают ли они значения, соответствующие описанию:

In [9]:
hd3['surgery?'].unique()

<IntegerArray>
[1, 2, <NA>]
Length: 3, dtype: Int64

In [10]:
hd3['Age'].unique()

array([1, 9])

In [11]:
hd3['temperature of extremities'].unique()

<IntegerArray>
[<NA>, 1, 4, 2, 3]
Length: 5, dtype: Int64

In [12]:
hd3['peripheral pulse'].unique()

<IntegerArray>
[<NA>, 1, 4, 3, 2]
Length: 5, dtype: Int64

In [13]:
hd3['mucous membranes'].unique()

<IntegerArray>
[4, 3, 6, 1, <NA>, 5, 2]
Length: 7, dtype: Int64

In [14]:
hd3['capillary refill time'].unique()

<IntegerArray>
[1, 2, <NA>, 3]
Length: 4, dtype: Int64

In [15]:
hd3['pain'].unique()

<IntegerArray>
[3, 2, <NA>, 4, 5, 1]
Length: 6, dtype: Int64

In [16]:
hd3['peristalsis'].unique()

<IntegerArray>
[4, 3, <NA>, 1, 2]
Length: 5, dtype: Int64

In [17]:
hd3['abdominal distension'].unique()

<IntegerArray>
[2, 1, 4, <NA>, 3]
Length: 5, dtype: Int64

In [18]:
hd3['nasogastric tube'].unique()

<IntegerArray>
[<NA>, 1, 2, 3]
Length: 4, dtype: Int64

In [19]:
hd3['nasogastric reflux'].unique()

<IntegerArray>
[<NA>, 2, 1, 3]
Length: 4, dtype: Int64

In [20]:
hd3['rectal examination - feces'].unique()

<IntegerArray>
[4, 1, 3, <NA>, 2]
Length: 5, dtype: Int64

In [21]:
hd3['abdomen'].unique()

<IntegerArray>
[2, 1, <NA>, 3, 5, 4]
Length: 6, dtype: Int64

In [22]:
hd3['abdominocentesis appearance'].unique()

<IntegerArray>
[2, <NA>, 3, 1]
Length: 4, dtype: Int64

In [23]:
hd3['outcome'].unique()

<IntegerArray>
[3, 1, 2, <NA>]
Length: 4, dtype: Int64

Обнаружены проблемы со столбцами 
- Age (вместо категорий 1 и 2 имеются категории 1 и 9)
- capillary refill time (вместо двух категорий 1 и 2 имеются три категории 1, 2 и 3)

In [24]:
len(hd3[(hd3['Age']) == 1])

275

In [25]:
len(hd3[(hd3['Age']) == 9])

24

In [26]:
len(hd3[(hd3['capillary refill time']) == 1])

188

In [27]:
len(hd3[(hd3['capillary refill time']) == 2])

77

In [28]:
len(hd3[(hd3['capillary refill time']) == 3])

2

Судя по всему в 

- Age - 9 (24 случая) - это методическая ошибка ввода и, как представляется, должна быть заменена на 2

- capillary refill time 3 - ошибка ввода (2 случая), которую пока следует заменить на NaN)

In [29]:
hd3['Age'] = hd3['Age'].replace(9, 2)

In [30]:
hd3['Age'].unique()

array([1, 2])

In [31]:
hd3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     298 non-null    Int64
 1   Age                          299 non-null    int64
 2   Hospital Number              299 non-null    int64
 3   rectal temperature           239 non-null    float64
 4   pulse                        275 non-null    float64
 5   respiratory rate             241 non-null    float64
 6   temperature of extremities   243 non-null    Int64
 7   peripheral pulse             230 non-null    Int64
 8   mucous membranes             253 non-null    Int64
 9   capillary refill time        267 non-null    Int64
 10  pain                         244 non-null    Int64
 11  peristalsis                  255 non-null    Int64
 12  abdominal distension         243 non-null    Int64
 13  nasogastric tube             196 non-null    Int64
 14  nasogastric reflux           194 non-null    Int64
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination - feces   197 non-null    Int64
 17  abdomen                      181 non-null    Int64
 18  packed cell volume           270 non-null    float64
 19  total protein                266 non-null    float64
 20  abdominocentesis appearance  135 non-null    Int64
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      298 non-null    Int64
 23  surgical lesion?             299 non-null    int64
 24  type of lesion 1             299 non-null    int64
 25  type of lesion 2             299 non-null    int64
 26  type of lesion 3             299 non-null    int64
 27  cp_data                      299 non-null    int64
dtypes: Int64(14), float64(7), int64(7)
memory usage: 69.6 KB

In [32]:
hd3.head(10)

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion 1,type of lesion 2,type of lesion 3,cp_data
0,1,1,534817,39.2,88.0,20.0,<NA>,<NA>,4,1,...,50.0,85.0,2,2.0,3,2,2208,0,0,2
1,2,1,530334,38.3,40.0,24.0,1,1,3,1,...,33.0,6.7,<NA>,NaN,1,2,0,0,0,1
2,1,2,5290409,39.1,164.0,84.0,4,1,6,2,...,48.0,7.2,3,5.3,2,1,2208,0,0,1
3,2,1,530255,37.3,104.0,35.0,<NA>,<NA>,6,2,...,74.0,7.4,<NA>,NaN,2,2,4300,0,0,2
4,2,1,528355,NaN,NaN,NaN,2,1,3,1,...,NaN,NaN,<NA>,NaN,1,2,0,0,0,2
5,1,1,526802,37.9,48.0,16.0,1,1,1,1,...,37.0,7.0,<NA>,NaN,1,1,3124,0,0,2
6,1,1,529607,NaN,60.0,NaN,3,<NA>,<NA>,1,...,44.0,8.3,<NA>,NaN,2,1,2208,0,0,2
7,2,1,530051,NaN,80.0,36.0,3,4,3,1,...,38.0,6.2,<NA>,NaN,3,1,3205,0,0,2
8,2,2,5299629,38.3,90.0,NaN,1,<NA>,1,1,...,40.0,6.2,1,2.2,1,2,0,0,0,1
9,1,1,528548,38.1,66.0,12.0,3,3,5,1,...,44.0,6.0,2,3.6,1,1,2124,0,0,1

На этом этапе общий набор данных можно на время оставить (он, возможно, пригодится для восстановления данных в том наборе данных, который указан в дз). Сейчас же из общего датафрейма сформируем тот, который указан в дз:

In [33]:
hd_set = hd3[['surgery?', 
             'Age',
             'rectal temperature',
             'pulse',
             'respiratory rate',
             'temperature of extremities',
             'pain',
             'outcome']]
hd_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    Int64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    Int64
 6   pain                        244 non-null    Int64
 7   outcome                     298 non-null    Int64
dtypes: Int64(4), float64(3), int64(1)
memory usage: 20.0 KB

Перед тем, как приступить к заполнению пропущенных данных, кажется правильным обратить внимание на то обстоятельство, что у нас нет данных в одном случае параметра 'outcome'. Как кажется, это та ситуация, когда совершенно недопустимо гадать, какова судьба лошади - умерла она (была усыплена), либо осталась жива. На мой взгляд, поскольку это ключевой параметр, а в задании требуется заполнение всех пропусков, то строку с пропуском по этому параметру желательно было бы удалить.

Данные по этой лошади:

In [34]:
hd3[(hd3['outcome'].isna())]

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion 1,type of lesion 2,type of lesion 3,cp_data
131,<NA>,1,534572,38.0,48.0,20.0,3,1,3,1,...,43.0,73.0,2,1.0,<NA>,1,3111,0,0,2

In [35]:
hd3[(hd3['outcome'].isna())].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 131 to 131
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     0 non-null      Int64
 1   Age                          1 non-null      int64
 2   Hospital Number              1 non-null      int64
 3   rectal temperature           1 non-null      float64
 4   pulse                        1 non-null      float64
 5   respiratory rate             1 non-null      float64
 6   temperature of extremities   1 non-null      Int64
 7   peripheral pulse             1 non-null      Int64
 8   mucous membranes             1 non-null      Int64
 9   capillary refill time        1 non-null      Int64
 10  pain                         1 non-null      Int64
 11  peristalsis                  1 non-null      Int64
 12  abdominal distension         1 non-null      Int64
 13  nasogastric tube             1 non-null      Int64
 14  nasogastric reflux           1 non-null      Int64
 15  nasogastric reflux PH        0 non-null      float64
 16  rectal examination - feces   1 non-null      Int64
 17  abdomen                      1 non-null      Int64
 18  packed cell volume           1 non-null      float64
 19  total protein                1 non-null      float64
 20  abdominocentesis appearance  1 non-null      Int64
 21  abdomcentesis total protein  1 non-null      float64
 22  outcome                      0 non-null      Int64
 23  surgical lesion?             1 non-null      int64
 24  type of lesion 1             1 non-null      int64
 25  type of lesion 2             1 non-null      int64
 26  type of lesion 3             1 non-null      int64
 27  cp_data                      1 non-null      int64
dtypes: Int64(14), float64(7), int64(7)
memory usage: 246.0 bytes

удаляю (криво, не смог вспомнить как удалить строку)

In [38]:
to_del = hd_set[ hd_set['outcome'].isna() ].index
hd_set.drop(to_del , inplace=True)

In [39]:
hd_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    Int64
 1   Age                         298 non-null    int64
 2   rectal temperature          238 non-null    float64
 3   pulse                       274 non-null    float64
 4   respiratory rate            240 non-null    float64
 5   temperature of extremities  242 non-null    Int64
 6   pain                        243 non-null    Int64
 7   outcome                     298 non-null    Int64
dtypes: Int64(4), float64(3), int64(1)
memory usage: 30.2 KB

In [40]:
hd_set.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,298.000000,238.000000,274.000000,240.000000,242.000000,243.000000,298.000000
mean,1.395973,1.080537,38.167227,72.021898,30.470833,2.342975,2.938272,1.550336
std,0.489881,0.272580,0.734974,28.696330,17.702303,1.047687,1.304908,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [41]:
hd_set.isna().sum()

surgery?                       0
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        0
dtype: int64

Соответственно, теперь необходимо заполнить пропуски по 5 параметрам:

- rectal temperature
- pulse
- respiratory rate
- temperature of extremities
- pain

Что касается выбросов, то в вопросах параметров здоровья лошади мне трудно сказать, что является невозможным параметром. По категориальным параметрам мы выяснили, что все в рамках определений, по непрерывным значениям, как мне видится в рамках здравого смысла человека - не-ветеринара каких-то немыслимых экстремумов нет. На всякий случай посмотрим формально на выбросы:

In [42]:
q1 = hd_set['rectal temperature'].quantile(0.25)
q3 = hd_set['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)

In [43]:
lower_bound

36.74999999999999

In [44]:
upper_bound

39.550000000000004

In [45]:
hd_set[hd_set['rectal temperature'] > upper_bound]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
19,1,1,39.9,72.0,60.0,1,5,1
53,2,1,40.3,114.0,36.0,3,2,3
74,1,2,39.7,100.0,NaN,3,2,3
90,2,1,40.3,114.0,36.0,3,2,2
98,2,1,39.6,108.0,51.0,3,2,1
258,1,1,40.8,72.0,42.0,3,2,2
280,2,1,40.0,78.0,NaN,3,2,2

In [46]:
hd_set[hd_set['rectal temperature'] < lower_bound]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
43,1,1,35.4,140.0,24.0,3,4,3
79,1,1,36.4,98.0,35.0,3,4,2
117,1,1,36.5,78.0,30.0,1,5,1
140,2,1,36.0,42.0,30.0,<NA>,<NA>,2
237,2,1,36.1,88.0,NaN,3,3,3
250,2,1,36.6,42.0,18.0,3,1,2
297,1,1,36.5,100.0,24.0,3,3,1

In [47]:
q1 = hd_set['pulse'].quantile(0.25)
q3 = hd_set['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)

In [48]:
lower_bound

-12.0

Очевидно, что нижняя граница за пределами жизни.

In [49]:
upper_bound

148.0

In [50]:
hd_set[hd_set['pulse'] > upper_bound]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1,2,39.1,164.0,84.0,4,2,2
40,2,2,39.0,150.0,72.0,<NA>,<NA>,1
54,1,2,38.6,160.0,20.0,3,3,2
254,1,2,38.8,184.0,84.0,1,4,2
274,1,2,38.8,150.0,50.0,1,5,2

Я бы не стал игнорировать ни один из этих "выбросов". Если бы речь шла о статистике жизненных показателей преимущественно здоровых лощадей, то вероятно, эти выбросы стоило бы удалить, но в нашем случае больных лошадей, исключение выбросов кажется нецелесообразным.

Что, вероятно, имеет смысл сделать, так это рассмотреть статистику в категориальных группах.

In [51]:
print(hd_set.groupby('pain')['rectal temperature'].median())

pain
1    38.20
2    38.30
3    38.15
4    38.05
5    38.00
Name: rectal temperature, dtype: float64

In [52]:
print(hd_set.groupby('pain')['rectal temperature'].mean())

pain
1    38.094444
2    38.452000
3    38.100000
4    37.928571
5    38.150000
Name: rectal temperature, dtype: float64

In [53]:
print(hd_set.groupby('pain')['pulse'].median())

pain
1    48.0
2    78.0
3    60.0
4    80.0
5    89.0
Name: pulse, dtype: float64

In [54]:
print(hd_set.groupby('pain')['respiratory rate'].median())

pain
1    20.0
2    32.0
3    24.0
4    30.0
5    30.0
Name: respiratory rate, dtype: float64

In [55]:
print(hd_set.groupby('pain')['respiratory rate'].mean())

pain
1    21.419355
2    33.192308
3    27.775862
4    32.366667
5    31.750000
Name: respiratory rate, dtype: float64

In [56]:
print(hd_set.groupby('outcome')['rectal temperature'].median())

outcome
1    38.20
2    38.05
3    38.05
Name: rectal temperature, dtype: float64

In [57]:
print(hd_set.groupby('outcome')['rectal temperature'].mean())

outcome
1    38.190789
2    38.173077
3    38.052941
Name: rectal temperature, dtype: float64

In [58]:
print(hd_set.groupby('outcome')['pulse'].median())

outcome
1    54.0
2    86.0
3    82.0
Name: pulse, dtype: float64

In [59]:
print(hd_set.groupby('outcome')['pulse'].mean())

outcome
1    63.421687
2    87.553846
3    81.744186
Name: pulse, dtype: float64

In [60]:
print(hd_set.groupby('outcome')['respiratory rate'].median())

outcome
1    24.0
2    30.0
3    24.0
Name: respiratory rate, dtype: float64

In [61]:
print(hd_set.groupby('outcome')['respiratory rate'].mean())

outcome
1    29.278912
2    33.122807
3    31.138889
Name: respiratory rate, dtype: float64

In [62]:
print(hd_set.groupby('surgery?')['rectal temperature'].median())

surgery?
1    38.1
2    38.2
Name: rectal temperature, dtype: float64

In [63]:
print(hd_set.groupby('surgery?')['pulse'].median())

surgery?
1    70.0
2    55.0
Name: pulse, dtype: float64

In [64]:
print(hd_set.groupby('surgery?')['respiratory rate'].median())

surgery?
1    28.0
2    24.0
Name: respiratory rate, dtype: float64

In [65]:
print(hd_set.groupby('Age')['rectal temperature'].median())

Age
1    38.1
2    38.6
Name: rectal temperature, dtype: float64

In [66]:
print(hd_set.groupby('Age')['pulse'].median())

Age
1     60.0
2    124.0
Name: pulse, dtype: float64

In [67]:
print(hd_set.groupby('Age')['respiratory rate'].median())

Age
1    24.0
2    49.0
Name: respiratory rate, dtype: float64

In [68]:
print(hd_set.groupby('Age')['outcome'].median())

Age
1    1.0
2    1.5
Name: outcome, dtype: Float64

In [69]:
print(hd_set.groupby('Age')['temperature of extremities'].median())

Age
1    3.0
2    2.5
Name: temperature of extremities, dtype: Float64

In [70]:
print(hd_set.groupby('temperature of extremities')['rectal temperature'].median())

temperature of extremities
1    38.15
2    38.20
3    38.10
4    38.35
Name: rectal temperature, dtype: float64

In [71]:
print(hd_set.groupby('temperature of extremities')['pulse'].median())

temperature of extremities
1    54.0
2    56.0
3    80.0
4    90.0
Name: pulse, dtype: float64

In [72]:
print(hd_set.groupby('temperature of extremities')['respiratory rate'].median())

temperature of extremities
1    24.0
2    32.0
3    28.0
4    30.0
Name: respiratory rate, dtype: float64

В целом видна зависимость средних показателей от групп surgery?, Age, outcome.
Имеет смысл заполнить пропуски в таких группах средним или медианой (средним в непрерывных значениях, медианой - в дискретных).

In [77]:
hd_set_test = hd3[['surgery?', 
             'Age',
             'rectal temperature',
             'pulse',
             'respiratory rate',
             'temperature of extremities',
             'pain',
             'outcome']]
to_del_test = hd_set_test[ hd_set_test['outcome'].isna() ].index
hd_set_test.drop(to_del_test , inplace=True)

In [78]:
hd_set_test['rectal temperature'].fillna(hd_set.groupby(['Age', 'surgery?'])['rectal temperature'].transform('mean'), inplace=True)

In [79]:
hd_set_test['respiratory rate'].fillna(hd_set.groupby('outcome')['respiratory rate'].transform('median'), inplace=True)

In [80]:
hd_set_test['temperature of extremities'].fillna(hd_set.groupby(['Age', 'outcome'])['temperature of extremities'].transform('median'), inplace=True)

In [81]:
hd_set_test['pulse'].fillna(hd_set.groupby(['Age', 'outcome'])['pulse'].transform('median'), inplace=True)

In [82]:
hd_set_test['pain'].fillna(hd_set.groupby('Age')['pain'].transform('median'), inplace=True)

In [83]:
hd_set_test.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,298.000000,298.000000,298.000000,298.00000,298.000000,298.000000,298.000000
mean,1.395973,1.080537,38.163918,72.107383,29.59396,2.338926,2.949664,1.550336
std,0.489881,0.272580,0.659529,28.295730,16.02858,0.986045,1.178147,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.00000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.250000,20.00000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.100000,64.000000,24.00000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,34.75000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.00000,4.000000,5.000000,3.000000

In [84]:
hd_set.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,298.000000,238.000000,274.000000,240.000000,242.000000,243.000000,298.000000
mean,1.395973,1.080537,38.167227,72.021898,30.470833,2.342975,2.938272,1.550336
std,0.489881,0.272580,0.734974,28.696330,17.702303,1.047687,1.304908,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

Как мы видим, в результате применения избранных методов заполнения пропусков существенных изменений в статистиках не произошло.